body{
    background-image: url("blurry2.jpg");
}
.container{
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    padding: 0 auto;
    margin: 0 auto;
}
.carousel{
    width: 100%;
    position: relative;
}
.content{
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}
.nav-pills{
    width: 450px;
}
.nav-item{
    width: 50%;
}
.nav-pills .nav-link{
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    height: 100px;
}
.nav-pills .nav-link.active{
    background: #fff;
    color: #000;
}
.tab-content, .hottopic-content, .tag-content{
  position: relative;
  width: 450px;
  height: auto;
  background: #fff;
  padding-left: 80px;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

.tab-content{
    margin-top: -50px;
}
.tab-content button{
    border-radius: 15px;
    width: 100px;
    margin: 0 auto;
    float: right;
}
.card{
  margin-bottom: 20px;
  border-radius: 10px;
}
.taggers a{
  padding: 0 30px 30px 0;
}
.bg-none{
  border: none;
}
.bg-none, .row{
  background:transparent;
}
.hover-rotate{
  height: 20%;
  width: 20%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
p{
  cursor: pointer;
}
.row{
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
.size{
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.hover-rotate img{
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.hover-rotate img:hover{
  transform: scale(1.2) rotate(3deg);
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery{
  width: 45vw;
  height: 40vmin;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.gallery img{
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery img:hover{
  flex: 4;
}