body{
    background-image: url("/resources/blurry1.jpg");
    /* background-color: #F5E8C7; */
    
}
.contact{
    background-image: url("contact_background.jpg");
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#darken{
    box-shadow: inset 0px 0px 300px 120px rgba(0, 0, 0, .7)
}

.gettouch{
    width: 100%;
}
.contact h1{
    font-size: 50px;
    /* margin: auto; */
    text-align: center;
    border: 5px solid white;
    color: white;
    width: 350px;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
}

.center{
    text-align: center;
    margin: 50px 0 80px 0;
}

h5, h6{
    color: #522c00;
}

h5{
    text-align: center;
    font-size: 20px;
}

p{
    color: #492700;
}

h6{
    font-size: 40px;
    font-weight: 500;
}

.data-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20vw;
    height: 15vw;
    padding: 10px;
    display: grid;
    background: transparent;
    place-items: center;
    border: none;
    border-right: 5px solid #4c2800;
}

.none{
    border-right: none;
}


.card p:nth-child(3){
    font-size: 12px;
    text-align: center;
}

.card p:nth-child(2){
    font-size: 14px;
    text-transform: uppercase;
}

.icon{
    width: 40px;
    height: 40px;
}

.mt{
    margin-top: 100px;
}
.mb{
    margin-bottom: 40px;
}

.contact-to{
    width: 50%;
    margin: 20px auto;
}

.input-group{
    position: relative;
    margin-bottom: 30px;
}

.input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid #fff;
}

.message{
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;   
}


.input-label{
    position: absolute;
    color: gray;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: 
    translate(0, -25px) scale(.8);
    color:#4c2800;
    background-color: transparent;
}

.input:is(:focus, :valid){
    outline-color: #4c2800;
}
  
.send {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 10px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  position: relative;
  left: 50%;
  margin-left: -80px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.send:hover {
  background-color: #fff;
}

.send:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .send {
    min-width: 120px;
    padding: 0 25px;
  }
}

.connect{
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect h6{
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.container{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.container .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}

.container .btn i{
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}

.container .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(#00c6ff, #0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.container .btn:hover i {
    color: #fff;
    transform: scale(1.3);
}

.container .btn:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover{
    0% {
        left: -110%;
        top: -10%;
    }
    50% {
        left: 10%;
        top: -30%
    }
    100%{
        top: -10%;
        left: -10%;
    }
}


.map{
    height: 600px;
    padding: 0 100px;
    margin-top: 100px;
}