*{
    z-index: 2;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url(/resources/blurry2.jpg);
}

#navbar-placeholder{
    z-index: 3;
}
/* Hero */
#hero{
    /* background: linear-gradient(160deg, #FDEEDC, #E38B29); */
    /* background: url(/resources/blurry2.jpg); */
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-shadow: #AC7088 0px 5px, #DEB6AB 0px 10px, #ECCCB2 0px 15px, #F5E8C7 0px 20px;
}

.img-hero{
    height: 90%;
    margin-right: 11vw;
    margin-bottom: 80px;
    z-index: 1;
}

.hero-tagline h1{
    font-weight: 700;
    color: #522c00;
    font-size: 60px;
    line-height: 72px;
    margin-top: 150px;
    font-family: 'Libre Baskerville', serif;

}

.hero-tagline p{
    font-size: 20px;
    font-weight: 500;
    color: #492700;
    margin-bottom: 100px;
    margin-top: 20px;
    width: 95%;
}

/* button Hero */

.button-hero {
    position: relative;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    color: #4c2800;
    background-color: #fee6e3;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    border: 3px solid #4c2800;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    margin-top: 30px;
    z-index: 1;
}

  .button-hero:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-right: 3px solid #111;
    border-bottom: 3px solid #111;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .button-hero:hover {
    padding: 1.5rem 2.5rem;
    color: #111;
    transition: .5s;
  }
  
  .button-hero:hover:before {
    top: 0;
    left: 0;
  }

  /* sevice section */
  #service{
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
  }

  h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #522c00;
  }

  .subtitle{
    font-size: 18px;
    color: #492700;
  }

  .card-service{
    width: 100%;
    height: 320px;
    border-radius: 5px;
    background: linear-gradient(160deg, #EDE5E2, #E3C4AF);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    /* transition: all .2s ease-in; */
  }
  

  .card-service h3{
    color: #522c00;
    font-size: 28px;
  }

  .card-service p{
    color: #522c00;
    font-size: 16px;
  }

  .icon{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    
  }

  /* Gallery */
  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .row .column{
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
  } 

  .row .column img{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
  }

  /* Slider */
  .slider{
    margin-top: -20px;
    margin-bottom: 80px;
  }
  .slider h2{
    text-align: center;
    padding: 80px 0 40px;
    font-weight: 700;
  }
  .slick-slide img{
    width: 100%;
  }
  .slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus{
    outline: none;
  }
  .slick-list.draggin{
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  .slick-track::before,
  .slick-track::after{
    display: table;
    content: '';
  }
  .slick-track::after{
    clear: both;
  }
  .slcik-loading .slick-track{
    visibility: hidden;
  }
  .slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  [dir='rtl'] .slick-slide{
    float: right;
  }
  .slick-slide img{
    display: block;
  }
  .slick-slide.slcik-loading img{
    display: none;
  }
  .slick-slide.draggin img{
    pointer-events: none;
  }
  .slick-initialized .slick-slide{
    display: block;
  }
  .slick-loading .slick-slide{
    visibility: hidden;
  }
  .slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden{
    display: none;
  }


  /* Galerry responsive */
  @media only screen and (max-width: 850px){
    .row .column{
      flex: 50%;
    }
  }
  @media only screen and (max-width: 680px){
    .row .column{
      flex: 100%;
    }
  }
