body,* {
	padding:0;
	margin:0;
}

/* ========== Navbar ========== */
/* ul li {
	display:inline-block;
	line-height:100px;
	justify-content:center;
} */

/* ========== Banner ========== */
.banner {
	height: 500px;
    font-family: Sofia;
}

/* ========== filter card categories ========== */
.filter {
    font-family: Montserrat;
}

.card-title {
    font-weight: bold;
}

#myBtnContainer {
	margin:20px;
}
.filterDiv {
	display:none;
}
.show {
	display:block;
}
.btn {
	border:none;
	outline:none;
	background-color:#f1f1f1;
	cursor:pointer;
	font-size:medium;
	margin:3px;
}
.btn:hover {
	background-color:#ddd;
}
.btn.active {
	background-color:#666;
	color: white;
}

      