body,
* {
  padding: 0;
  margin: 0;
}

/* Carousel */
.main-content {
  position: relative;
  margin-top: 30px;
}

.main-content .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 70px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: 0;
}

.tags .title {
  color: #4e3609;
  padding: 8px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.tags .subtitle {
  color: #4e3609;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}