<footer class="text-dark pt-5 pb-4">
  <div class="container text-md left">
    <div class="row text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">INVI</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          non unde qui numquam laudantium et consequatur nostrum ipsam inventore
          atque voluptates sed.
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Product</h5>
        <p>
          <a href="" class="text-dark" style="text-decoration: none">
            Wedding Invitation</a
          >
        </p>
        <p>
          <a href="" class="text-dark" style="text-decoration: none">
            Birthday Invitation</a
          >
        </p>
        <p>
          <a href="" class="text-dark" style="text-decoration: none">
            Responsive web design</a
          >
        </p>
        <p>
          <a href="" class="text-dark" style="text-decoration: none">
            company profile</a
          >
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Social Media</h5>
        <p><i class="fa-brands fa-facebook-f"></i> Facebook</p>
        <p><i class="fa-brands fa-instagram"></i> Instagram</p>
        <p><i class="fa-brands fa-twitter"></i> Twitter</p>
        <p><i class="fa-brands fa-tiktok"></i> Tik tok</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
        <p>
          <i class="fa-solid fa-location-dot"></i> jl.Loremipsum dolor set amit
        </p>
        <p><i class="fa-brands fa-whatsapp"></i> Whatsapp</p>
        <p><i class="fa-brands fa-google"></i> invico@gmail.com</p>
        <p><i class="fa-solid fa-magnifying-glass"></i> invi</p>
      </div>
    </div>
  </div>
</footer>
