<nav class="navbar navbar-expand-lg navbar-dark bg-transparent w-100">
  <div class="container">
    <a class="navbar-brand" href="/index.html">
      <img
        src="/resources/invi.png"
        alt=""
        width="75"
        class="d-inline-block align-text-top me-3"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/aboutus.html">About Us</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/portfolio.html">Portofolio</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Todos</a>
        </li>
      </ul>
      <!-- <div>
        <button class="button-primary">Daftar</button>
        <button class="button-secondary">Masuk</button>
      </div> -->
    </div>
  </div>
</nav>
